{% extends "layout.html" %}
{% block main %}
{% if error: %}
<h4 class="alert_error">{{ error }}</h4>
{% endif %}
{% if success: %}
<h4 class="alert_success">{{ success }}</h4>
{% endif %}
<article class="module width_full">
<header><h3>Zmień hasło {{ current_user.email }}</h3></header>
     <form action="{{ url_for('change_password') }}" method="POST">
     {{ form.csrf_token }}
     <div class="module_content">
        <fieldset>
            <label>Obecne hasło:</label>
            {{ form.current_password(title="Obecne hasło", size=30, maxlength=2048) }}
            <label>Nowe Hasło:</label>
            {{ form.password(title="Hasło", size=30, maxlength=2048) }}
            <label>Powtórz nowe hasło:</label>
            {{ form.re_password(title="Hasło", size=30, maxlength=2048) }}
        </fieldset>
     </div>
     <footer>
      <div class="submit_link">
      <input type="submit" value="Zmień" class="alt_btn" name='submit'/>
      </div>
       </footer>
    </form>
</article>
{% endblock %}
